aws_games/gamesonsale/statemachine/gamesonsale.asl.json
{
    "Comment": "State machine - GamesOnSale.",
    "StartAt": "GetGamesOnSale",
    "States": {
        "GetGamesOnSale": {
            "Type": "Pass",
            "Next": "MapGames"
        },        
        "MapGames": {
            "Type": "Map",
            "MaxConcurrency": 2,
            "Next": "Final State",
            "Iterator": {
                "StartAt": "CheckingSavings",
                "States": {
                    "CheckingSavings": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.savings",
                                "NumericEquals": 100,
                                "Next": "NotifyFreeGame"
                            },
                            {
                                "Variable": "$.savings",
                                "NumericGreaterThanEquals": 85,
                                "Next": "SaveGoodOffer"
                            }
                        ],
                        "Default": "DiscardBadOffer"
                    },
                    "NotifyFreeGame": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::sns:publish",
                        "Parameters": {
                            "TopicArn": "${FreeGameSnsTopicArn}",
                            "Message": {
                                "Input.$": "$"
                            }
                        },
                        "Next": "SaveGoodOffer"
                    },
                    "SaveGoodOffer": {
                        "Type": "Task",
                        "Resource": "${DDBPutItem}",
                        "Parameters": {
                            "TableName": "${DDBTable}",
                            "Item": {
                                "Id": {
                                    "S.$": "$.id"
                                },
                                "Title": {
                                    "S.$": "$.title"
                                },
                                "NormalPrice": {
                                    "N.$": "$.normalPrice"
                                },
                                "SalePrice": {
                                    "N.$": "$.salePrice"
                                },
                                "TimeStamp": {
                                    "S.$": "$.timeStamp"
                                }
                            }
                        },
                        "Next": "NextState"
                    },
                    "DiscardBadOffer": {
                        "Type": "Pass",
                        "Result": "Game discarded (bad offer)",
                        "End": true
                    }
                }
            }
        },
        "Final State": {
            "Type": "Pass",
            "End": true
        }
    }
}
